/*
######### SELECTORES #############

*/

/* SELECTOR UNIVERSAL
*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Selector de etiqueta*/
h1{
    background: red;
    color: white;
    padding: 10px;
}

a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

footer a {
    color: red;
}

/*Selector de id*/

#description {
    border: 3px solid black;/*poniendo un border solido*/
    padding: 15px;/*margen interior*/
}
#titulo{
    background: blue;
    border: 2px dashed white;
}
/*Selector de clase */
/*Selector de atributo*/